In [1]:
# import libraries
import numpy as np
import pandas as pd

In [2]:
# import dns dataset
dns = pd.read_csv("Data/DrDoS_DNS.csv")
dns.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (85) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Unnamed: 0,Flow ID,Source IP,Source Port,Destination IP,Destination Port,Protocol,Timestamp,Flow Duration,Total Fwd Packets,...,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,SimillarHTTP,Inbound,Label
0,425,172.16.0.5-192.168.50.1-634-60495-17,172.16.0.5,634,192.168.50.1,60495,17,2018-12-01 10:51:39.813448,28415,97,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,DrDoS_DNS
1,430,172.16.0.5-192.168.50.1-60495-634-17,192.168.50.1,634,172.16.0.5,60495,17,2018-12-01 10:51:39.820842,2,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,DrDoS_DNS
2,1654,172.16.0.5-192.168.50.1-634-46391-17,172.16.0.5,634,192.168.50.1,46391,17,2018-12-01 10:51:39.852499,48549,200,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,DrDoS_DNS
3,2927,172.16.0.5-192.168.50.1-634-11894-17,172.16.0.5,634,192.168.50.1,11894,17,2018-12-01 10:51:39.890213,48337,200,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,DrDoS_DNS
4,694,172.16.0.5-192.168.50.1-634-27878-17,172.16.0.5,634,192.168.50.1,27878,17,2018-12-01 10:51:39.941151,32026,200,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,DrDoS_DNS

In [3]:
dns.describe( include='all' )

,Unnamed: 0,Flow ID,Source IP,Source Port,Destination IP,Destination Port,Protocol,Timestamp,Flow Duration,Total Fwd Packets,...,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,SimillarHTTP,Inbound,Label
count,5.074413e+06,5074413,5074413,5.074413e+06,5074413,5.074413e+06,5.074413e+06,5074413,5.074413e+06,5.074413e+06,...,5.074413e+06,5.074413e+06,5.074413e+06,5.074413e+06,5.074413e+06,5.074413e+06,5.074413e+06,5074413.0,5.074413e+06,5074413
unique,NaN,4201795,138,NaN,150,NaN,NaN,5074384,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.0,NaN,2
top,NaN,172.16.0.5-192.168.50.1-0-0-0,172.16.0.5,NaN,192.168.50.1,NaN,NaN,2018-12-01 11:10:37.373425,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,DrDoS_DNS
freq,NaN,195,5069061,NaN,5069066,NaN,NaN,2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4628480.0,NaN,5071011
mean,1.380064e+04,NaN,NaN,8.000962e+02,NaN,3.279212e+04,1.699142e+01,NaN,7.176140e+03,6.013596e+00,...,1.305199e+01,8.437979e+01,5.788418e+01,2.331791e+03,1.054355e+02,2.420004e+03,2.240776e+03,NaN,9.990669e-01,NaN
std,8.020386e+03,NaN,NaN,1.851189e+03,NaN,1.892478e+04,3.194000e-01,NaN,7.711845e+05,5.953501e+02,...,6.162152e+03,2.883959e+04,2.557915e+04,3.318188e+05,4.571781e+04,3.434160e+05,3.242934e+05,NaN,3.053264e-02,NaN
min,0.000000e+00,NaN,NaN,0.000000e+00,NaN,0.000000e+00,0.000000e+00,NaN,0.000000e+00,1.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,0.000000e+00,NaN
25%,6.844000e+03,NaN,NaN,5.810000e+02,NaN,1.643000e+04,1.700000e+01,NaN,1.000000e+00,2.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,1.000000e+00,NaN
50%,1.377600e+04,NaN,NaN,7.270000e+02,NaN,3.279400e+04,1.700000e+01,NaN,1.000000e+00,2.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,1.000000e+00,NaN
75%,2.074100e+04,NaN,NaN,8.750000e+02,NaN,4.918300e+04,1.700000e+01,NaN,2.000000e+00,2.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,1.000000e+00,NaN
max,2.818200e+04,NaN,NaN,6.550800e+04,NaN,6.553500e+04,1.700000e+01,NaN,1.200000e+08,1.001480e+05,...,7.827056e+06,4.872242e+07,4.872242e+07,1.017888e+08,6.600292e+07,1.037700e+08,1.017888e+08,NaN,1.000000e+00,NaN

In [4]:
columns = dns.columns

In [5]:
columns

Index(['Unnamed: 0', 'Flow ID', ' Source IP', ' Source Port',
       ' Destination IP', ' Destination Port', ' Protocol', ' Timestamp',
       ' Flow Duration', ' Total Fwd Packets', ' Total Backward Packets',
       'Total Length of Fwd Packets', ' Total Length of Bwd Packets',
       ' Fwd Packet Length Max', ' Fwd Packet Length Min',
       ' Fwd Packet Length Mean', ' Fwd Packet Length Std',
       'Bwd Packet Length Max', ' Bwd Packet Length Min',
       ' Bwd Packet Length Mean', ' Bwd Packet Length Std', 'Flow Bytes/s',
       ' Flow Packets/s', ' Flow IAT Mean', ' Flow IAT Std', ' Flow IAT Max',
       ' Flow IAT Min', 'Fwd IAT Total', ' Fwd IAT Mean', ' Fwd IAT Std',
       ' Fwd IAT Max', ' Fwd IAT Min', 'Bwd IAT Total', ' Bwd IAT Mean',
       ' Bwd IAT Std', ' Bwd IAT Max', ' Bwd IAT Min', 'Fwd PSH Flags',
       ' Bwd PSH Flags', ' Fwd URG Flags', ' Bwd URG Flags',
       ' Fwd Header Length', ' Bwd Header Length', 'Fwd Packets/s',
       ' Bwd Packets/s', ' Min Packet Length', ' Max Packet Length',
       ' Packet Length Mean', ' Packet Length Std', ' Packet Length Variance',
       'FIN Flag Count', ' SYN Flag Count', ' RST Flag Count',
       ' PSH Flag Count', ' ACK Flag Count', ' URG Flag Count',
       ' CWE Flag Count', ' ECE Flag Count', ' Down/Up Ratio',
       ' Average Packet Size', ' Avg Fwd Segment Size',
       ' Avg Bwd Segment Size', ' Fwd Header Length.1', 'Fwd Avg Bytes/Bulk',
       ' Fwd Avg Packets/Bulk', ' Fwd Avg Bulk Rate', ' Bwd Avg Bytes/Bulk',
       ' Bwd Avg Packets/Bulk', 'Bwd Avg Bulk Rate', 'Subflow Fwd Packets',
       ' Subflow Fwd Bytes', ' Subflow Bwd Packets', ' Subflow Bwd Bytes',
       'Init_Win_bytes_forward', ' Init_Win_bytes_backward',
       ' act_data_pkt_fwd', ' min_seg_size_forward', 'Active Mean',
       ' Active Std', ' Active Max', ' Active Min', 'Idle Mean', ' Idle Std',
       ' Idle Max', ' Idle Min', 'SimillarHTTP', ' Inbound', ' Label'],
      dtype='object')

In [6]:
columns[85]

'SimillarHTTP'

In [7]:
dns['SimillarHTTP'].dtype

dtype('O')

In [8]:
dns_iat = dns.loc[:, [' Flow IAT Mean', ' Flow IAT Std', ' Flow IAT Max', ' Flow IAT Min', 'Fwd IAT Total', ' Fwd IAT Mean', ' Fwd IAT Std', ' Fwd IAT Max', ' Fwd IAT Min', 'Bwd IAT Total', ' Bwd IAT Mean', ' Bwd IAT Std', ' Bwd IAT Max', ' Bwd IAT Min'] ]

In [9]:
dns_iat.describe( include = 'all')

,Flow IAT Mean,Flow IAT Std,Flow IAT Max,Flow IAT Min,Fwd IAT Total,Fwd IAT Mean,Fwd IAT Std,Fwd IAT Max,Fwd IAT Min,Bwd IAT Total,Bwd IAT Mean,Bwd IAT Std,Bwd IAT Max,Bwd IAT Min
count,5.074413e+06,5.074413e+06,5.074413e+06,5.074413e+06,5.074413e+06,5.074413e+06,5.074413e+06,5.074413e+06,5.074413e+06,5.074413e+06,5.074413e+06,5.074413e+06,5.074413e+06,5.074413e+06
mean,3.858445e+02,8.211467e+02,3.161658e+03,7.580827e+01,6.841976e+03,4.924365e+02,9.267230e+02,2.969594e+03,7.474153e+01,4.814705e+03,3.279090e+02,6.886307e+02,2.004077e+03,1.909580e-03
std,5.956067e+04,1.047141e+05,3.716702e+05,4.011741e+04,7.617601e+05,6.828788e+04,1.215047e+05,3.649128e+05,4.011755e+04,6.379946e+05,5.375593e+04,1.072985e+05,2.994759e+05,2.893508e-01
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,2.000000e+00,0.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,0.000000e+00,2.000000e+00,2.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,4.505603e+07,5.876782e+07,1.199384e+08,4.505603e+07,1.199999e+08,4.505603e+07,5.876782e+07,1.199384e+08,4.505603e+07,1.199999e+08,4.975526e+07,7.036456e+07,9.951052e+07,2.380000e+02

In [10]:
dns_iat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5074413 entries, 0 to 5074412
Data columns (total 14 columns):
 #   Column          Dtype
---  ------          -----
 0    Flow IAT Mean  float64
 1    Flow IAT Std   float64
 2    Flow IAT Max   float64
 3    Flow IAT Min   float64
 4   Fwd IAT Total   float64
 5    Fwd IAT Mean   float64
 6    Fwd IAT Std    float64
 7    Fwd IAT Max    float64
 8    Fwd IAT Min    float64
 9   Bwd IAT Total   float64
 10   Bwd IAT Mean   float64
 11   Bwd IAT Std    float64
 12   Bwd IAT Max    float64
 13   Bwd IAT Min    float64
dtypes: float64(14)
memory usage: 542.0 MB

In [11]:
dns_iat.isnull().sum().sum()

0

In [12]:
dns_flow = dns.loc[:, [' Flow Duration', ' Flow Packets/s']]

In [13]:
dns_flow

          Flow Duration   Flow Packets/s
0                 28415     3.413690e+03
1                     2     1.000000e+06
2                 48549     4.119549e+03
3                 48337     4.137617e+03
4                 32026     6.244926e+03
...                 ...              ...
5074408               1     2.000000e+06
5074409              30     6.666667e+04
5074410               1     2.000000e+06
5074411               1     2.000000e+06
5074412               2     1.000000e+06

[5074413 rows x 2 columns]

In [14]:
dns_flow.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5074413 entries, 0 to 5074412
Data columns (total 2 columns):
 #   Column           Dtype
---  ------           -----
 0    Flow Duration   int64
 1    Flow Packets/s  float64
dtypes: float64(1), int64(1)
memory usage: 77.4 MB

In [15]:
dns_flow.isnull().sum().sum()

0

In [16]:
dns.loc[:, ' Label'].isnull().sum()

0

In [17]:
dns.loc[:, ' Label'].unique()

array(['DrDoS_DNS', 'BENIGN'], dtype=object)

In [18]:
# label encoding of categorical target variable (Label)
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

dns[' Label'] = label_encoder.fit_transform(dns[' Label'])
dns[' Label'].unique()

array([1, 0])

In [19]:
dns[' Label'].isnull().sum()

0

In [20]:
dns.head(20)

,Unnamed: 0,Flow ID,Source IP,Source Port,Destination IP,Destination Port,Protocol,Timestamp,Flow Duration,Total Fwd Packets,...,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,SimillarHTTP,Inbound,Label
0,425,172.16.0.5-192.168.50.1-634-60495-17,172.16.0.5,634,192.168.50.1,60495,17,2018-12-01 10:51:39.813448,28415,97,...,0.000000e+00,0.0,0.0,0.00,0.00000,0.0,0.0,0,1,1
1,430,172.16.0.5-192.168.50.1-60495-634-17,192.168.50.1,634,172.16.0.5,60495,17,2018-12-01 10:51:39.820842,2,2,...,0.000000e+00,0.0,0.0,0.00,0.00000,0.0,0.0,0,0,1
2,1654,172.16.0.5-192.168.50.1-634-46391-17,172.16.0.5,634,192.168.50.1,46391,17,2018-12-01 10:51:39.852499,48549,200,...,0.000000e+00,0.0,0.0,0.00,0.00000,0.0,0.0,0,1,1
3,2927,172.16.0.5-192.168.50.1-634-11894-17,172.16.0.5,634,192.168.50.1,11894,17,2018-12-01 10:51:39.890213,48337,200,...,0.000000e+00,0.0,0.0,0.00,0.00000,0.0,0.0,0,1,1
4,694,172.16.0.5-192.168.50.1-634-27878-17,172.16.0.5,634,192.168.50.1,27878,17,2018-12-01 10:51:39.941151,32026,200,...,0.000000e+00,0.0,0.0,0.00,0.00000,0.0,0.0,0,1,1
5,838,172.16.0.5-192.168.50.1-634-47149-17,172.16.0.5,634,192.168.50.1,47149,17,2018-12-01 10:51:39.942030,46469,200,...,0.000000e+00,0.0,0.0,0.00,0.00000,0.0,0.0,0,1,1
6,3090,172.16.0.5-192.168.50.1-634-22713-17,172.16.0.5,634,192.168.50.1,22713,17,2018-12-01 10:51:39.973650,31201,200,...,0.000000e+00,0.0,0.0,0.00,0.00000,0.0,0.0,0,1,1
7,2594,172.16.0.5-192.168.50.1-634-49912-17,172.16.0.5,634,192.168.50.1,49912,17,2018-12-01 10:51:39.994394,50453,200,...,0.000000e+00,0.0,0.0,0.00,0.00000,0.0,0.0,0,1,1
8,2698,172.16.0.5-192.168.50.1-634-56681-17,172.16.0.5,634,192.168.50.1,56681,17,2018-12-01 10:51:40.005191,31008,200,...,0.000000e+00,0.0,0.0,0.00,0.00000,0.0,0.0,0,1,1
9,277,172.16.0.5-192.168.50.1-634-13161-17,172.16.0.5,634,192.168.50.1,13161,17,2018-12-01 10:51:40.036581,30143,200,...,0.000000e+00,0.0,0.0,0.00,0.00000,0.0,0.0,0,1,1
10,745,172.16.0.5-192.168.50.1-634-25051-17,172.16.0.5,634,192.168.50.1,25051,17,2018-12-01 10:51:40.046017,48900,200,...,0.000000e+00,0.0,0.0,0.00,0.00000,0.0,0.0,0,1,1
11,1381,172.16.0.5-192.168.50.1-634-12606-17,172.16.0.5,634,192.168.50.1,12606,17,2018-12-01 10:51:40.067060,32323,200,...,0.000000e+00,0.0,0.0,0.00,0.00000,0.0,0.0,0,1,1
12,2185,172.16.0.5-192.168.50.1-809-47588-17,172.16.0.5,809,192.168.50.1,47588,17,2018-12-01 10:51:40.086605,81626,200,...,0.000000e+00,0.0,0.0,0.00,0.00000,0.0,0.0,0,1,1
13,1189,172.16.0.5-192.168.50.1-634-11191-17,172.16.0.5,634,192.168.50.1,11191,17,2018-12-01 10:51:40.151799,28950,200,...,0.000000e+00,0.0,0.0,0.00,0.00000,0.0,0.0,0,1,1
14,2111,172.16.0.5-192.168.50.1-634-9330-17,172.16.0.5,634,192.168.50.1,9330,17,2018-12-01 10:51:40.169437,39033,200,...,0.000000e+00,0.0,0.0,0.00,0.00000,0.0,0.0,0,1,1
15,733,172.16.0.5-192.168.50.1-634-60508-17,172.16.0.5,634,192.168.50.1,60508,17,2018-12-01 10:51:40.181161,28486,200,...,0.000000e+00,0.0,0.0,0.00,0.00000,0.0,0.0,0,1,1
16,741,172.16.0.5-192.168.50.1-634-63045-17,172.16.0.5,634,192.168.50.1,63045,17,2018-12-01 10:51:40.200131,30589,200,...,0.000000e+00,0.0,0.0,0.00,0.00000,0.0,0.0,0,1,1
17,122,172.16.0.5-192.168.50.1-0-0-0,172.16.0.5,0,192.168.50.1,0,0,2018-12-01 10:51:40.212271,119819608,1014,...,1.059666e+06,4024592.0,1027317.0,5914329.25,172958.84073,5975581.0,5486278.0,0,1,1
18,520,172.16.0.5-192.168.50.1-634-44802-17,172.16.0.5,634,192.168.50.1,44802,17,2018-12-01 10:51:40.218232,35172,200,...,0.000000e+00,0.0,0.0,0.00,0.00000,0.0,0.0,0,1,1
19,1858,172.16.0.5-192.168.50.1-634-3192-17,172.16.0.5,634,192.168.50.1,3192,17,2018-12-01 10:51:40.231291,32880,200,...,0.000000e+00,0.0,0.0,0.00,0.00000,0.0,0.0,0,1,1

In [21]:
dns.shape

(5074413, 88)

In [22]:
# delete unwanted columns in the dns dataset
dns.drop(['Unnamed: 0', 'Flow ID', ' Source IP', ' Source Port', ' Destination IP', ' Destination Port', ' Protocol', ' Timestamp', ' Total Fwd Packets', ' Total Backward Packets', 'Total Length of Fwd Packets', ' Total Length of Bwd Packets', ' Fwd Packet Length Max', ' Fwd Packet Length Min', ' Fwd Packet Length Mean', ' Fwd Packet Length Std', 'Bwd Packet Length Max', ' Bwd Packet Length Min', ' Bwd Packet Length Mean', ' Bwd Packet Length Std', 'Flow Bytes/s', 'Fwd PSH Flags', ' Bwd PSH Flags', ' Fwd URG Flags', ' Bwd URG Flags', ' Fwd Header Length', ' Bwd Header Length', 'Fwd Packets/s', ' Bwd Packets/s', ' Min Packet Length', ' Max Packet Length', ' Packet Length Mean', ' Packet Length Std', ' Packet Length Variance', 'FIN Flag Count', ' SYN Flag Count', ' RST Flag Count', ' PSH Flag Count', ' ACK Flag Count', ' URG Flag Count', ' CWE Flag Count', ' ECE Flag Count', ' Down/Up Ratio', ' Average Packet Size', ' Avg Fwd Segment Size', ' Avg Bwd Segment Size', ' Fwd Header Length.1', 'Fwd Avg Bytes/Bulk', ' Fwd Avg Packets/Bulk', ' Fwd Avg Bulk Rate', ' Bwd Avg Bytes/Bulk', ' Bwd Avg Packets/Bulk', 'Bwd Avg Bulk Rate', 'Subflow Fwd Packets', ' Subflow Fwd Bytes', ' Subflow Bwd Packets', ' Subflow Bwd Bytes', 'Init_Win_bytes_forward', ' Init_Win_bytes_backward', ' act_data_pkt_fwd', ' min_seg_size_forward', 'Active Mean', ' Active Std', ' Active Max', ' Active Min', 'Idle Mean', ' Idle Std', ' Idle Max', ' Idle Min', 'SimillarHTTP', ' Inbound', ], inplace=True, axis=1)

In [23]:
dns.columns

Index([' Flow Duration', ' Flow Packets/s', ' Flow IAT Mean', ' Flow IAT Std',
       ' Flow IAT Max', ' Flow IAT Min', 'Fwd IAT Total', ' Fwd IAT Mean',
       ' Fwd IAT Std', ' Fwd IAT Max', ' Fwd IAT Min', 'Bwd IAT Total',
       ' Bwd IAT Mean', ' Bwd IAT Std', ' Bwd IAT Max', ' Bwd IAT Min',
       ' Label'],
      dtype='object')

In [24]:
dns.head()

,Flow Duration,Flow Packets/s,Flow IAT Mean,Flow IAT Std,Flow IAT Max,Flow IAT Min,Fwd IAT Total,Fwd IAT Mean,Fwd IAT Std,Fwd IAT Max,Fwd IAT Min,Bwd IAT Total,Bwd IAT Mean,Bwd IAT Std,Bwd IAT Max,Bwd IAT Min,Label
0,28415,3413.689952,295.989583,500.959301,3596.0,1.0,28415.0,295.989583,500.959301,3596.0,1.0,0.0,0.0,0.0,0.0,0.0,1
1,2,1000000.000000,2.000000,0.000000,2.0,2.0,2.0,2.000000,0.000000,2.0,2.0,0.0,0.0,0.0,0.0,0.0,1
2,48549,4119.549321,243.964824,578.101371,5418.0,1.0,48549.0,243.964824,578.101371,5418.0,1.0,0.0,0.0,0.0,0.0,0.0,1
3,48337,4137.617146,242.899497,485.292695,3337.0,1.0,48337.0,242.899497,485.292695,3337.0,1.0,0.0,0.0,0.0,0.0,0.0,1
4,32026,6244.925998,160.934673,196.891271,1236.0,0.0,32026.0,160.934673,196.891271,1236.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [25]:
# import udp dataset
udp = pd.read_csv("Data/DrDoS_UDP.csv")

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (85) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [26]:
udp.head()

,Unnamed: 0,Flow ID,Source IP,Source Port,Destination IP,Destination Port,Protocol,Timestamp,Flow Duration,Total Fwd Packets,...,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,SimillarHTTP,Inbound,Label
0,101418,172.16.0.5-192.168.50.1-43443-6652-17,172.16.0.5,43443,192.168.50.1,6652,17,2018-12-01 12:36:57.628026,218395,6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,DrDoS_UDP
1,21564,172.16.0.5-192.168.50.1-54741-9712-17,172.16.0.5,54741,192.168.50.1,9712,17,2018-12-01 12:36:57.628076,108219,4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,DrDoS_UDP
2,23389,172.16.0.5-192.168.50.1-56589-4680-17,172.16.0.5,56589,192.168.50.1,4680,17,2018-12-01 12:36:57.628164,104579,4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,DrDoS_UDP
3,48872,172.16.0.5-192.168.50.1-40233-2644-17,172.16.0.5,40233,192.168.50.1,2644,17,2018-12-01 12:36:57.628166,110967,4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,DrDoS_UDP
4,80354,172.16.0.5-192.168.50.1-33989-16901-17,172.16.0.5,33989,192.168.50.1,16901,17,2018-12-01 12:36:57.628217,1,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,DrDoS_UDP

In [27]:
udp.loc[:, [' Flow Duration', ' Flow Packets/s', ' Flow IAT Mean', ' Flow IAT Std', ' Flow IAT Max', ' Flow IAT Min', 'Fwd IAT Total', ' Fwd IAT Mean', ' Fwd IAT Std', ' Fwd IAT Max', ' Fwd IAT Min', 'Bwd IAT Total', ' Bwd IAT Mean', ' Bwd IAT Std', ' Bwd IAT Max', ' Bwd IAT Min', ' Label']].isnull().sum().sum()

0

In [28]:
udp.shape

(3136802, 88)

In [29]:
# delete unwanted columns in the udp dataset
udp.drop(['Unnamed: 0', 'Flow ID', ' Source IP', ' Source Port', ' Destination IP', ' Destination Port', ' Protocol', ' Timestamp', ' Total Fwd Packets', ' Total Backward Packets', 'Total Length of Fwd Packets', ' Total Length of Bwd Packets', ' Fwd Packet Length Max', ' Fwd Packet Length Min', ' Fwd Packet Length Mean', ' Fwd Packet Length Std', 'Bwd Packet Length Max', ' Bwd Packet Length Min', ' Bwd Packet Length Mean', ' Bwd Packet Length Std', 'Flow Bytes/s', 'Fwd PSH Flags', ' Bwd PSH Flags', ' Fwd URG Flags', ' Bwd URG Flags', ' Fwd Header Length', ' Bwd Header Length', 'Fwd Packets/s', ' Bwd Packets/s', ' Min Packet Length', ' Max Packet Length', ' Packet Length Mean', ' Packet Length Std', ' Packet Length Variance', 'FIN Flag Count', ' SYN Flag Count', ' RST Flag Count', ' PSH Flag Count', ' ACK Flag Count', ' URG Flag Count', ' CWE Flag Count', ' ECE Flag Count', ' Down/Up Ratio', ' Average Packet Size', ' Avg Fwd Segment Size', ' Avg Bwd Segment Size', ' Fwd Header Length.1', 'Fwd Avg Bytes/Bulk', ' Fwd Avg Packets/Bulk', ' Fwd Avg Bulk Rate', ' Bwd Avg Bytes/Bulk', ' Bwd Avg Packets/Bulk', 'Bwd Avg Bulk Rate', 'Subflow Fwd Packets', ' Subflow Fwd Bytes', ' Subflow Bwd Packets', ' Subflow Bwd Bytes', 'Init_Win_bytes_forward', ' Init_Win_bytes_backward', ' act_data_pkt_fwd', ' min_seg_size_forward', 'Active Mean', ' Active Std', ' Active Max', ' Active Min', 'Idle Mean', ' Idle Std', ' Idle Max', ' Idle Min', 'SimillarHTTP', ' Inbound', ], inplace=True, axis=1)

In [30]:
udp.shape

(3136802, 17)

In [31]:
# label encoding of categorical target variables in udp dataset (Label)
udp[' Label'] = label_encoder.fit_transform(udp[' Label'])
udp[' Label'].unique()

array([1, 0])

In [32]:
udp.head()

,Flow Duration,Flow Packets/s,Flow IAT Mean,Flow IAT Std,Flow IAT Max,Flow IAT Min,Fwd IAT Total,Fwd IAT Mean,Fwd IAT Std,Fwd IAT Max,Fwd IAT Min,Bwd IAT Total,Bwd IAT Mean,Bwd IAT Std,Bwd IAT Max,Bwd IAT Min,Label
0,218395,2.747316e+01,43679.000000,59812.246961,110075.0,0.0,218395.0,43679.000000,59812.246961,110075.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,108219,3.696209e+01,36073.000000,62478.536731,108217.0,1.0,108219.0,36073.000000,62478.536731,108217.0,1.0,0.0,0.0,0.0,0.0,0.0,1
2,104579,3.824860e+01,34859.666667,60376.981751,104577.0,1.0,104579.0,34859.666667,60376.981751,104577.0,1.0,0.0,0.0,0.0,0.0,0.0,1
3,110967,3.604675e+01,36989.000000,64065.095270,110965.0,1.0,110967.0,36989.000000,64065.095270,110965.0,1.0,0.0,0.0,0.0,0.0,0.0,1
4,1,2.000000e+06,1.000000,0.000000,1.0,1.0,1.0,1.000000,0.000000,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1

In [33]:
dns.head()

,Flow Duration,Flow Packets/s,Flow IAT Mean,Flow IAT Std,Flow IAT Max,Flow IAT Min,Fwd IAT Total,Fwd IAT Mean,Fwd IAT Std,Fwd IAT Max,Fwd IAT Min,Bwd IAT Total,Bwd IAT Mean,Bwd IAT Std,Bwd IAT Max,Bwd IAT Min,Label
0,28415,3413.689952,295.989583,500.959301,3596.0,1.0,28415.0,295.989583,500.959301,3596.0,1.0,0.0,0.0,0.0,0.0,0.0,1
1,2,1000000.000000,2.000000,0.000000,2.0,2.0,2.0,2.000000,0.000000,2.0,2.0,0.0,0.0,0.0,0.0,0.0,1
2,48549,4119.549321,243.964824,578.101371,5418.0,1.0,48549.0,243.964824,578.101371,5418.0,1.0,0.0,0.0,0.0,0.0,0.0,1
3,48337,4137.617146,242.899497,485.292695,3337.0,1.0,48337.0,242.899497,485.292695,3337.0,1.0,0.0,0.0,0.0,0.0,0.0,1
4,32026,6244.925998,160.934673,196.891271,1236.0,0.0,32026.0,160.934673,196.891271,1236.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [34]:
dns.drop(' Flow Packets/s', inplace=True, axis=1)
udp.drop(' Flow Packets/s', inplace=True, axis=1)

In [35]:
dns.head()

,Flow Duration,Flow IAT Mean,Flow IAT Std,Flow IAT Max,Flow IAT Min,Fwd IAT Total,Fwd IAT Mean,Fwd IAT Std,Fwd IAT Max,Fwd IAT Min,Bwd IAT Total,Bwd IAT Mean,Bwd IAT Std,Bwd IAT Max,Bwd IAT Min,Label
0,28415,295.989583,500.959301,3596.0,1.0,28415.0,295.989583,500.959301,3596.0,1.0,0.0,0.0,0.0,0.0,0.0,1
1,2,2.000000,0.000000,2.0,2.0,2.0,2.000000,0.000000,2.0,2.0,0.0,0.0,0.0,0.0,0.0,1
2,48549,243.964824,578.101371,5418.0,1.0,48549.0,243.964824,578.101371,5418.0,1.0,0.0,0.0,0.0,0.0,0.0,1
3,48337,242.899497,485.292695,3337.0,1.0,48337.0,242.899497,485.292695,3337.0,1.0,0.0,0.0,0.0,0.0,0.0,1
4,32026,160.934673,196.891271,1236.0,0.0,32026.0,160.934673,196.891271,1236.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [36]:
udp.head()

,Flow Duration,Flow IAT Mean,Flow IAT Std,Flow IAT Max,Flow IAT Min,Fwd IAT Total,Fwd IAT Mean,Fwd IAT Std,Fwd IAT Max,Fwd IAT Min,Bwd IAT Total,Bwd IAT Mean,Bwd IAT Std,Bwd IAT Max,Bwd IAT Min,Label
0,218395,43679.000000,59812.246961,110075.0,0.0,218395.0,43679.000000,59812.246961,110075.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,108219,36073.000000,62478.536731,108217.0,1.0,108219.0,36073.000000,62478.536731,108217.0,1.0,0.0,0.0,0.0,0.0,0.0,1
2,104579,34859.666667,60376.981751,104577.0,1.0,104579.0,34859.666667,60376.981751,104577.0,1.0,0.0,0.0,0.0,0.0,0.0,1
3,110967,36989.000000,64065.095270,110965.0,1.0,110967.0,36989.000000,64065.095270,110965.0,1.0,0.0,0.0,0.0,0.0,0.0,1
4,1,1.000000,0.000000,1.0,1.0,1.0,1.000000,0.000000,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1

In [37]:
# join dns and udp dataset into one dataframe
df =  pd.concat([dns, udp], axis=0).reset_index()

In [38]:
df.head()

,index,Flow Duration,Flow IAT Mean,Flow IAT Std,Flow IAT Max,Flow IAT Min,Fwd IAT Total,Fwd IAT Mean,Fwd IAT Std,Fwd IAT Max,Fwd IAT Min,Bwd IAT Total,Bwd IAT Mean,Bwd IAT Std,Bwd IAT Max,Bwd IAT Min,Label
0,0,28415,295.989583,500.959301,3596.0,1.0,28415.0,295.989583,500.959301,3596.0,1.0,0.0,0.0,0.0,0.0,0.0,1
1,1,2,2.000000,0.000000,2.0,2.0,2.0,2.000000,0.000000,2.0,2.0,0.0,0.0,0.0,0.0,0.0,1
2,2,48549,243.964824,578.101371,5418.0,1.0,48549.0,243.964824,578.101371,5418.0,1.0,0.0,0.0,0.0,0.0,0.0,1
3,3,48337,242.899497,485.292695,3337.0,1.0,48337.0,242.899497,485.292695,3337.0,1.0,0.0,0.0,0.0,0.0,0.0,1
4,4,32026,160.934673,196.891271,1236.0,0.0,32026.0,160.934673,196.891271,1236.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [39]:
df.shape

(8211215, 17)

In [40]:
# extract 60% of the dataframe
df = df.sample(frac=0.6, random_state=30)

In [41]:
df.head()

,index,Flow Duration,Flow IAT Mean,Flow IAT Std,Flow IAT Max,Flow IAT Min,Fwd IAT Total,Fwd IAT Mean,Fwd IAT Std,Fwd IAT Max,Fwd IAT Min,Bwd IAT Total,Bwd IAT Mean,Bwd IAT Std,Bwd IAT Max,Bwd IAT Min,Label
7172795,2098382,216613,43322.6,59327.808904,109618.0,1.0,216613.0,43322.6,59327.808904,109618.0,1.0,0.0,0.0,0.0,0.0,0.0,1
5223893,149480,1,1.0,0.000000,1.0,1.0,1.0,1.0,0.000000,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1
7157397,2082984,48,48.0,0.000000,48.0,48.0,48.0,48.0,0.000000,48.0,48.0,0.0,0.0,0.0,0.0,0.0,1
4738776,4738776,1,1.0,0.000000,1.0,1.0,1.0,1.0,0.000000,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1
713229,713229,1,1.0,0.000000,1.0,1.0,1.0,1.0,0.000000,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1

In [42]:
df[' Label'].unique()

array([1, 0])

In [43]:
df.reset_index()

,level_0,index,Flow Duration,Flow IAT Mean,Flow IAT Std,Flow IAT Max,Flow IAT Min,Fwd IAT Total,Fwd IAT Mean,Fwd IAT Std,Fwd IAT Max,Fwd IAT Min,Bwd IAT Total,Bwd IAT Mean,Bwd IAT Std,Bwd IAT Max,Bwd IAT Min,Label
0,7172795,2098382,216613,43322.6,59327.808904,109618.0,1.0,216613.0,43322.6,59327.808904,109618.0,1.0,0.0,0.0,0.0,0.0,0.0,1
1,5223893,149480,1,1.0,0.000000,1.0,1.0,1.0,1.0,0.000000,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1
2,7157397,2082984,48,48.0,0.000000,48.0,48.0,48.0,48.0,0.000000,48.0,48.0,0.0,0.0,0.0,0.0,0.0,1
3,4738776,4738776,1,1.0,0.000000,1.0,1.0,1.0,1.0,0.000000,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1
4,713229,713229,1,1.0,0.000000,1.0,1.0,1.0,1.0,0.000000,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4926724,4014844,4014844,1,1.0,0.000000,1.0,1.0,1.0,1.0,0.000000,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1
4926725,4465385,4465385,2,2.0,0.000000,2.0,2.0,2.0,2.0,0.000000,2.0,2.0,0.0,0.0,0.0,0.0,0.0,1
4926726,2862622,2862622,1,1.0,0.000000,1.0,1.0,1.0,1.0,0.000000,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1
4926727,7779732,2705319,1,1.0,0.000000,1.0,1.0,1.0,1.0,0.000000,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1
4926728,387910,387910,1,1.0,0.000000,1.0,1.0,1.0,1.0,0.000000,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1

In [44]:
df.columns

Index(['index', ' Flow Duration', ' Flow IAT Mean', ' Flow IAT Std',
       ' Flow IAT Max', ' Flow IAT Min', 'Fwd IAT Total', ' Fwd IAT Mean',
       ' Fwd IAT Std', ' Fwd IAT Max', ' Fwd IAT Min', 'Bwd IAT Total',
       ' Bwd IAT Mean', ' Bwd IAT Std', ' Bwd IAT Max', ' Bwd IAT Min',
       ' Label'],
      dtype='object')

In [45]:
df.drop(['index'], inplace=True, axis=1)

In [46]:
from sklearn.model_selection import train_test_split

features = [' Flow Duration', ' Flow IAT Mean', ' Flow IAT Std', ' Flow IAT Max', ' Flow IAT Min', 'Fwd IAT Total', ' Fwd IAT Mean', ' Fwd IAT Std', ' Fwd IAT Max', ' Fwd IAT Min', 'Bwd IAT Total', ' Bwd IAT Mean', ' Bwd IAT Std', ' Bwd IAT Max', ' Bwd IAT Min']

target = [' Label']

X = df.loc[:, features]
y = df.loc[:, target]

In [47]:
# train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=30)

In [48]:
X_train.shape

(3695046, 15)

In [49]:
X_test.shape

(1231683, 15)

In [50]:
X_train.head()

,Flow Duration,Flow IAT Mean,Flow IAT Std,Flow IAT Max,Flow IAT Min,Fwd IAT Total,Fwd IAT Mean,Fwd IAT Std,Fwd IAT Max,Fwd IAT Min,Bwd IAT Total,Bwd IAT Mean,Bwd IAT Std,Bwd IAT Max,Bwd IAT Min
7575201,1,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
4424724,1,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
2433374,47,47.0,0.0,47.0,47.0,47.0,47.0,0.0,47.0,47.0,0.0,0.0,0.0,0.0,0.0
5679920,1,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
2041197,1,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0

In [51]:
y_train.shape

(3695046, 1)

In [58]:
y_train.head()

          Label
7575201       1
4424724       1
2433374       1
5679920       1
2041197       1

In [52]:
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier()

In [60]:
clf.fit(X_train, y_train)

<ipython-input-60-4f66baab8f93>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  clf.fit(X_train, y_train)

RandomForestClassifier()

In [61]:
pred_clf = clf.predict(X_test)

In [66]:
from sklearn.metrics import accuracy_score, precision_score, f1_score

In [67]:
accuracy_score(y_test, pred_clf)

0.999836808659371

In [68]:
precision_score(y_test, pred_clf)

0.9998659541384426

In [69]:
f1_score(y_test, pred_clf)

0.9999183496058642

In [70]:
from sklearn.ensemble import AdaBoostClassifier

ada = AdaBoostClassifier()

In [71]:
ada.fit(X_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

AdaBoostClassifier()

In [73]:
pred_ada = ada.predict(X_test)

In [74]:
accuracy_score(y_test, pred_ada)

0.9995908038026018

In [75]:
precision_score(y_test, pred_ada)

0.9997457176165698

In [76]:
f1_score(y_test, pred_ada)

0.9997952641011849

In [79]:
from sklearn.linear_model import LogisticRegression

In [78]:
from sklearn.ensemble import StackingClassifier

In [80]:
models = [('clf', RandomForestClassifier()), ('ada', AdaBoostClassifier())]

meta = LogisticRegression()

In [81]:
stack = StackingClassifier(estimators=models, final_estimator=meta)

In [82]:
stack.fit(X_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

StackingClassifier(estimators=[('clf', RandomForestClassifier()),
                               ('ada', AdaBoostClassifier())],
                   final_estimator=LogisticRegression())

In [83]:
pred = stack.predict(X_test)

In [84]:
accuracy_score(y_test, pred)

0.999837620556588

In [85]:
precision_score(y_test, pred)

0.9998562082689182