In [1]:
import numpy as np
import pandas as pd

In [2]:
mssql = pd.read_csv("01-12/DrDoS_MSSQL.csv")

/var/folders/hf/6ssq2_9d245418hfrqccnd400000gn/T/ipykernel_4259/2791213185.py:1: DtypeWarning: Columns (85) have mixed types. Specify dtype option on import or set low_memory=False.
  mssql = pd.read_csv("01-12/DrDoS_MSSQL.csv")

In [3]:
mssql.head()

,Unnamed: 0,Flow ID,Source IP,Source Port,Destination IP,Destination Port,Protocol,Timestamp,Flow Duration,Total Fwd Packets,...,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,SimillarHTTP,Inbound,Label
0,139,172.16.0.5-192.168.50.1-0-0-0,172.16.0.5,0,192.168.50.1,0,0,2018-12-01 11:32:32.915441,119151083,60959,...,2.853681e+07,67834732.0,4024278.0,5975510.0,98.183502,5975622.0,5975358.0,0,1,DrDoS_MSSQL
1,38385,172.16.0.5-192.168.50.1-850-20345-17,172.16.0.5,850,192.168.50.1,20345,17,2018-12-01 11:32:32.915442,1,2,...,0.000000e+00,0.0,0.0,0.0,0.000000,0.0,0.0,0,1,DrDoS_MSSQL
2,27033,172.16.0.5-192.168.50.1-851-21631-17,172.16.0.5,851,192.168.50.1,21631,17,2018-12-01 11:32:32.915578,1,2,...,0.000000e+00,0.0,0.0,0.0,0.000000,0.0,0.0,0,1,DrDoS_MSSQL
3,34348,172.16.0.5-192.168.50.1-852-15332-17,172.16.0.5,852,192.168.50.1,15332,17,2018-12-01 11:32:32.915773,2,2,...,0.000000e+00,0.0,0.0,0.0,0.000000,0.0,0.0,0,1,DrDoS_MSSQL
4,19225,172.16.0.5-192.168.50.1-853-41853-17,172.16.0.5,853,192.168.50.1,41853,17,2018-12-01 11:32:32.916114,2,2,...,0.000000e+00,0.0,0.0,0.0,0.000000,0.0,0.0,0,1,DrDoS_MSSQL

In [4]:
mssql1 = mssql.drop([' Source IP', ' Source Port', ' Destination IP', ' Destination Port', ' Timestamp', 'SimillarHTTP'], axis=1)
mssql1.head()

,Unnamed: 0,Flow ID,Protocol,Flow Duration,Total Fwd Packets,Total Backward Packets,Total Length of Fwd Packets,Total Length of Bwd Packets,Fwd Packet Length Max,Fwd Packet Length Min,...,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Inbound,Label
0,139,172.16.0.5-192.168.50.1-0-0-0,0,119151083,60959,462,0.0,0.0,0.0,0.0,...,16786536.6,2.853681e+07,67834732.0,4024278.0,5975510.0,98.183502,5975622.0,5975358.0,1,DrDoS_MSSQL
1,38385,172.16.0.5-192.168.50.1-850-20345-17,17,1,2,0,2944.0,0.0,1472.0,1472.0,...,0.0,0.000000e+00,0.0,0.0,0.0,0.000000,0.0,0.0,1,DrDoS_MSSQL
2,27033,172.16.0.5-192.168.50.1-851-21631-17,17,1,2,0,2944.0,0.0,1472.0,1472.0,...,0.0,0.000000e+00,0.0,0.0,0.0,0.000000,0.0,0.0,1,DrDoS_MSSQL
3,34348,172.16.0.5-192.168.50.1-852-15332-17,17,2,2,0,2944.0,0.0,1472.0,1472.0,...,0.0,0.000000e+00,0.0,0.0,0.0,0.000000,0.0,0.0,1,DrDoS_MSSQL
4,19225,172.16.0.5-192.168.50.1-853-41853-17,17,2,2,0,2848.0,0.0,1424.0,1424.0,...,0.0,0.000000e+00,0.0,0.0,0.0,0.000000,0.0,0.0,1,DrDoS_MSSQL

In [5]:
mssql1.dropna()

,Unnamed: 0,Flow ID,Protocol,Flow Duration,Total Fwd Packets,Total Backward Packets,Total Length of Fwd Packets,Total Length of Bwd Packets,Fwd Packet Length Max,Fwd Packet Length Min,...,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Inbound,Label
0,139,172.16.0.5-192.168.50.1-0-0-0,0,119151083,60959,462,0.0,0.0,0.0,0.0,...,16786536.6,2.853681e+07,67834732.0,4024278.0,5975510.0,98.183502,5975622.0,5975358.0,1,DrDoS_MSSQL
1,38385,172.16.0.5-192.168.50.1-850-20345-17,17,1,2,0,2944.0,0.0,1472.0,1472.0,...,0.0,0.000000e+00,0.0,0.0,0.0,0.000000,0.0,0.0,1,DrDoS_MSSQL
2,27033,172.16.0.5-192.168.50.1-851-21631-17,17,1,2,0,2944.0,0.0,1472.0,1472.0,...,0.0,0.000000e+00,0.0,0.0,0.0,0.000000,0.0,0.0,1,DrDoS_MSSQL
3,34348,172.16.0.5-192.168.50.1-852-15332-17,17,2,2,0,2944.0,0.0,1472.0,1472.0,...,0.0,0.000000e+00,0.0,0.0,0.0,0.000000,0.0,0.0,1,DrDoS_MSSQL
4,19225,172.16.0.5-192.168.50.1-853-41853-17,17,2,2,0,2848.0,0.0,1424.0,1424.0,...,0.0,0.000000e+00,0.0,0.0,0.0,0.000000,0.0,0.0,1,DrDoS_MSSQL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4524493,9676,172.16.0.5-192.168.50.1-61850-58642-17,17,1,2,0,1154.0,0.0,577.0,577.0,...,0.0,0.000000e+00,0.0,0.0,0.0,0.000000,0.0,0.0,1,DrDoS_MSSQL
4524494,140740,172.16.0.5-192.168.50.1-34007-22365-17,17,1,2,0,1218.0,0.0,609.0,609.0,...,0.0,0.000000e+00,0.0,0.0,0.0,0.000000,0.0,0.0,1,DrDoS_MSSQL
4524495,10619,172.16.0.5-192.168.50.1-34008-62054-17,17,1,2,0,888.0,0.0,444.0,444.0,...,0.0,0.000000e+00,0.0,0.0,0.0,0.000000,0.0,0.0,1,DrDoS_MSSQL
4524496,148608,172.16.0.5-192.168.50.1-34009-28580-17,17,1,2,0,1020.0,0.0,510.0,510.0,...,0.0,0.000000e+00,0.0,0.0,0.0,0.000000,0.0,0.0,1,DrDoS_MSSQL
4524497,18798,172.16.0.5-192.168.50.1-34010-33323-17,17,1,2,0,2004.0,0.0,1002.0,1002.0,...,0.0,0.000000e+00,0.0,0.0,0.0,0.000000,0.0,0.0,1,DrDoS_MSSQL

In [6]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()

mssql1[' Label'] = label_encoder.fit_transform(mssql1[' Label'])
mssql1[' Label'].unique()

array([1, 0])

In [7]:
mssql1.to_csv("01-12-Clean/MSSQL_Clean.csv")

In [8]:
mssql1.head()

,Unnamed: 0,Flow ID,Protocol,Flow Duration,Total Fwd Packets,Total Backward Packets,Total Length of Fwd Packets,Total Length of Bwd Packets,Fwd Packet Length Max,Fwd Packet Length Min,...,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Inbound,Label
0,139,172.16.0.5-192.168.50.1-0-0-0,0,119151083,60959,462,0.0,0.0,0.0,0.0,...,16786536.6,2.853681e+07,67834732.0,4024278.0,5975510.0,98.183502,5975622.0,5975358.0,1,1
1,38385,172.16.0.5-192.168.50.1-850-20345-17,17,1,2,0,2944.0,0.0,1472.0,1472.0,...,0.0,0.000000e+00,0.0,0.0,0.0,0.000000,0.0,0.0,1,1
2,27033,172.16.0.5-192.168.50.1-851-21631-17,17,1,2,0,2944.0,0.0,1472.0,1472.0,...,0.0,0.000000e+00,0.0,0.0,0.0,0.000000,0.0,0.0,1,1
3,34348,172.16.0.5-192.168.50.1-852-15332-17,17,2,2,0,2944.0,0.0,1472.0,1472.0,...,0.0,0.000000e+00,0.0,0.0,0.0,0.000000,0.0,0.0,1,1
4,19225,172.16.0.5-192.168.50.1-853-41853-17,17,2,2,0,2848.0,0.0,1424.0,1424.0,...,0.0,0.000000e+00,0.0,0.0,0.0,0.000000,0.0,0.0,1,1